# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Local databases
*.db
chroma_db/

# Local RAG source documents and extracted files
app/docs/

# Model/cache folders
models/
cache/

# PyTorch
*.pt
*.pth

# HuggingFace
hf_cache/
